.theme-dark {
  --panel-border-color: var(--base-1);
  --ribbon-background: var(--base-1);
  --background-primary: var(--base-1);
  --background-primary-alt: var(--base-2);
  --background-secondary: var(--base-2);
  --background-secondary-alt: var(--base-1);
  --background-accent: var(--aqua);
  --background-modifier-border: var(--gray-1);
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--green);
  --background-modifier-error: var(--red);
  --background-modifier-error-rgb: 255, 101, 122;
  --background-modifier-error-hover: var(--red);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --code-background: var(--gray-3);
  --text-accent: var(--yellow);
  --text-accent-hover: var(--blue);
  --text-normal: var(--white);
  --text-muted: var(--gray-2);
  --text-faint: var(--yellow);
  --text-error: var(--red);
  --text-error-hover: var(--red);
  --text-highlight-bg: var(--yellow);
  --text-highlight: var(--base-1);
  --text-selection: var(--blue);
  --text-on-accent: var(--base-1);
  --code-normal: var(--white);
  --button-text-normal: var(--gray-3);
  --h1-color: var(--green);
  --h2-color: var(--blue);
  --h3-color: var(--orange);
  --h4-color: var(--purple);
  --h5-color: var(--gray-2);
  --interactive-normal: var(--base-1);
  --interactive-hover: var(--base-2);
  --interactive-accent: var(--yellow);
  --interactive-accent-rgb: 97, 175, 239;
  --interactive-accent-hover: var(--white);
  --button-interactive-normal: var(--yellow);
  --scrollbar-active-thumb-bg: rgba(40, 42, 58, 0.02);
  --scrollbar-bg: rgba(40, 42, 58, 0.05);
  --scrollbar-thumb-bg: rgba(40, 42, 58, 0.1);
  --nav-item-color: var(--gray-2);
  --nav-folder-item-color: var(--yellow);
  --icon-color: var(--purple);
  --oz-fta-folder-pane-file-name-color: var(--yellow);
  --db-plugin-row-shadow: var(--base-2);
  --gray-1: #5C6370;
  --gray-2: #abb2bf;
  --gray-3: #2c292d;
  --red: #ef6f89;
  --orange: #f19d6d;
  --green: #b3d97e;
  --aqua: #8dd9e6;
  --purple: #a8a0ee;
  --blue: #61afef;
  --yellow: #fad872;
  --white: #ffffff;
  --beige: #fdf9f3;
  --black: #000000;
  --base-1: #1e1f2b;
  --base-2: #282a3a;
  --base-3: #3a3d4b;
}

.theme-light {
  --panel-border-color: var(--base-1);
  --ribbon-background: var(--base-1);
  --background-primary: var(--base-1);
  --background-primary-alt: var(--base-2);
  --background-secondary: var(--base-2);
  --background-secondary-alt: var(--base-1);
  --background-accent: var(--aqua);
  --background-modifier-border: var(--gray-1);
  --background-modifier-form-field: var(--white);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: var(--green);
  --background-modifier-error: var(--red);
  --background-modifier-error-rgb: 255, 101, 122;
  --background-modifier-error-hover: var(--red);
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --checkbox-border-color: var(--gray-1);
  --checkbox-marker-color: var(--green);
  --checklist-done-color: var(--green);
  --code-background: var(--gray-3);
  --text-accent: var(--base-1);
  --text-accent-hover: var(--gray-3);
  --text-normal: var(--gray-3);
  --text-muted: var(--gray-1);
  --text-faint: var(--orange);
  --text-error: var(--red);
  --text-error-hover: var(--red);
  --text-highlight-bg: var(--yellow);
  --text-highlight: var(--gray-3);
  --text-selection: var(--blue);
  --text-on-accent: var(--base-1);
  --code-normal: var(--white);
  --button-text-normal: var(--gray-3);
  --link-color: var(--orange);
  --link-external-color: var(--gray-3);
  --tag-color: var(--gray-3);
  --tab-text-color: var(--gray-2);
  --tab-text-color-active: var(--gray-3);
  --tab-text-color-active-focused: var(--gray-2);
  --tab-text-color-focused: var(--gray-1);
  --metadata-label-text-color: var(--gray-1);
  --h1-color: var(--green);
  --h2-color: var(--blue);
  --h3-color: var(--orange);
  --h4-color: var(--purple);
  --h5-color: var(--gray-2);
  --interactive-normal: var(--white);
  --interactive-hover: var(--base-2);
  --interactive-accent: var(--gray-3);
  --interactive-accent-rgb: 97, 175, 239;
  --interactive-accent-hover: var(--white);
  --button-interactive-normal: var(--white);
  --scrollbar-active-thumb-bg: rgba(40, 42, 58, 0.02);
  --scrollbar-bg: rgba(40, 42, 58, 0.05);
  --scrollbar-thumb-bg: rgba(40, 42, 58, 0.1);
  --nav-item-color: var(--gray-2);
  --nav-folder-item-color: var(--gray-3);
  --nav-collapse-icon-color: var(--red);
  --icon-color: var(--gray-3);
  --search-clear-button-color: var(--gray-3);
  --oz-fta-file-pane-file-name-color: var(--gray-3);
  --oz-fta-header-background-color: var(--purple);
  --oz-fta-header-icon-colors: var(--gray-3);
  --db-plugin-row-shadow: var(--gray-4);
  --gray-1: #5C6370;
  --gray-2: #abb2bf;
  --gray-3: #2c292d;
  --gray-4: #eeeae5;
  --red: #ef6f89;
  --orange: #f19d6d;
  --green: #b3d97e;
  --aqua: #8dd9e6;
  --purple: #a8a0ee;
  --blue: #61afef;
  --yellow: #fad872;
  --white: #ffffff;
  --black: #000000;
  --base-1: #fdf9f3;
  --base-2: #fdf9f3;
}

body {
  -webkit-font-smoothing: auto;
}

.titlebar {
  background-color: var(--background-secondary-alt);
}

.titlebar-inner {
  color: var(--text-normal);
}

.tooltip {
  background-color: var(--text-normal);
  color: var(--base-1);
}

.tooltip:not(.mod-right):not(.mod-left):not(.mod-top) .tooltip-arrow {
  border-bottom-color: var(--text-normal);
}

.mod-right .tooltip-arrow {
  border-right-color: var(--text-normal);
}

.mod-left .tooltip-arrow {
  border-left-color: var(--text-normal);
}

.mod-top .tooltip-arrow {
  border-top-color: var(--text-normal);
}

.dropdown {
  cursor: pointer;
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%234c78cc%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
}

.dropdown:hover {
  background-color: var(--background-modifier-form-field);
}

.search-result-file-title {
  color: var(--blue);
}

li {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

a.tag, a.tag:hover {
  background-color: var(--background-primary-alt);
  padding: 2px 4px;
  border-radius: 4px;
}

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  filter: none;
  outline: none;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: pointer;
  vertical-align: baseline;
}

.markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--interactive-accent);
}

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 14\'%3E%3Cpolygon points=\'5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039\'%3E%3C/polygon%3E%3C/svg%3E');
}

.markdown-preview-view .task-list-item.is-checked a {
  filter: saturate(0.8) brightness(0.7);
}

.cm-formatting-task {
  font-family: var(--font-monospace);
}

.nav-folder-title, .nav-file {
	border: 1px solid transparent;
	color: var(--nav-folder-item-color);
}

.nav-file, .nav-folder {
  padding: 1px 2px;
}

body:not(.is-grabbing) .nav-file .nav-file-title:hover:not(.is-active), body:not(.is-grabbing) .nav-folder .nav-folder-title:hover:not(.is-active) {
  --background-secondary-alt: transparent;
}

.nav-file .is-active {
  --background-secondary-alt: var(--interactive-accent);
  --text-normal: #ffffff;
}

.nav-file-title-content, .nav-folder-title-content {
  text-indent: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section, .markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px;
  line-height: 26px;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
	margin-left: 20pt;
	margin-right: auto;
}

.markdown-source-view.mod-cm6.is-readable-line-width:not(.is-rtl) .cm-scroller > *:first-child {
	margin-left: 20pt;
}

blockquote {
  margin: 20px 0;
  border-radius: 4px;
}

mjx-container[jax='CHTML'] {
  text-align: left;
  outline: none;
}

.math-block {
  font-size: 1.25em;
}

/* Highlight EDITOR */

.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight {
	background-color: var(--text-highlight-bg);
	color: var(--text-highlight);
}


/* Highlight PREVIEW */

.markdown-preview-view mark {
	background-color: var(--text-highlight-bg);
	color: var(--text-highlight);
}

.cm-s-obsidian pre.HyperMD-codeblock, .cm-s-obsidian span.cm-inline-code, .cm-s-obsidian span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end), .markdown-preview-view code {
  /* fix `` tag color */
  color: var(--green);
}

.cm-s-obsidian span.cm-inline-code, .cm-s-obsidian span.cm-math, .cm-s-obsidian span.hmd-fold-math-placeholder {
  /* fix tag size */
  font-weight: 100;
  font-style: normal;
}

.markdown-rendered th {
	font-weight: 700;
	color: var(--text-normal);
	background-color:  #4c78cc;
}

.markdown-preview-view code {
  vertical-align: 0;
  word-break: break-word;
}

.markdown-preview-section:not(:first-child) h1, .markdown-preview-section:not(:first-child) h2, .markdown-preview-section:not(:first-child) h3, .markdown-preview-section:not(:first-child) h4, .markdown-preview-section:not(:first-child) h5, .markdown-preview-section:not(:first-child) h6 {
  margin-top: 40px;
}

.markdown-preview-section h1, .markdown-preview-section h2, .markdown-preview-section h3, .markdown-preview-section h4, .markdown-preview-section h5, .markdown-preview-section h6 {
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, strong, b, .view-header-title {
  font-weight: 600;
}

.workspace>.workspace-split>.workspace-leaf:first-of-type:last-of-type .view-header {
  border: none;
}

.status-bar, .side-dock.mod-right, .side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  --bar-vertical-padding: 4px;
  --bar-height: calc(22px + (var(--bar-vertical-padding) * 2));
  line-height: 20px;
  padding: 0 20px;
  height: var(--bar-height);
  max-height: var(--bar-height);
  min-height: var(--bar-height);
  overflow: hidden;
}

.status-bar-item {
  margin: auto 0;
}

.status-bar-item>* {
  padding-top: var(--bar-vertical-padding);
  padding-bottom: var(--bar-vertical-padding);
}

.side-dock-plugin-panel-inner {
  padding-left: 6px;
}

a, .markdown-preview-view .internal-link {
  text-decoration: none;
}

a:hover, .markdown-preview-view .internal-link:hover {
  text-decoration: underline;
}

.theme-dark :not(pre)>code[class*='language-'], .theme-dark pre[class*='language-'] {
  background: var(--background-primary-alt);
}

.theme-light :not(pre)>code[class*='language-'], .theme-light pre[class*='language-'] {
  background: var(--background-primary);
  box-shadow: inset 0 0 0 1px var(--background-primary-alt);
  border-radius: 4px;
}

.markdown-embed:not(.hover-popover .markdown-embed), .file-embed {
  margin: 0;
  border-radius: 4px;
  margin: 0;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}

.markdown-embed {
  border: 1px solid var(--background-modifier-border);
  border-left-width: 5px;
}

.markdown-embed .markdown-preview-view {
  padding: 0 20px;
}

.markdown-embed-link, .file-embed-link {
  left: 8px;
  right: unset;
}

.theme-light .token.operator, .theme-light .token.entity, .theme-light .token.url, .theme-light .language-css .token.string, .theme-light .style .token.string {
  background: transparent;
}

.theme-light .horizontal-tab-nav-item.is-active, .vertical-tab-nav-item.is-active {
	background-color: var(--interactive-accent);
	color: var(--base-1);
}

/* Source: https://github.com/AGMStudio/prism-theme-one-dark */

code[class*='language-'], pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-variant-ligatures: no-common-ligatures;
}

/* Code blocks */

pre[class*='language-'] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* Inline code */

:not(pre)>code[class*='language-'] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: var(--gray-1);
}

.token.punctuation {
  color: var(--gray-2);
}

.token.selector, .token.tag {
  color: var(--red);
}

.token.property, .token.boolean, .token.number, .token.constant, .token.symbol, .token.attr-name, .token.deleted {
  color: var(--orange);
}

.token.string, .token.char, .token.attr-value, .token.builtin, .token.inserted {
  color: var(--green);
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  color: var(--aqua);
}

.token.atrule, .token.keyword {
  color: var(--purple);
}

.token.function, .token.macro.property {
  color: var(--blue);
}

.token.class-name {
  color: var(--yellow);
}

.token.regex, .token.important, .token.variable {
  color: var(--purple);
}

.token.important, .token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers>code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows>span:before {
  content: counter(linenumber);
  color: var(--syntax-gray-1);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.vertical-tab-header-group-title {
	font-size: 1.2em;
	color: var(--purple);
	font-weight: bolder;
}

button.mod-warning {
	background-color: var(--background-modifier-error);
	color: var(--text-on-accent);
}

button:not(.clickable-icon) {
	background-color: var(--button-interactive-normal);
}

button.mod-cta {
	background-color: var(--button-interactive-normal);
	color: var(--button-text-normal);
}

button {
	color: var(--button-text-normal);
}

.theme-dark :not(pre)>code[class*='language-'], .theme-dark pre[class*='language-'], .theme-light :not(pre)>code[class*='language-'], .theme-light pre[class*='language-'] {
  background: var(--code-background);
}

/* db folder plugin */
.database-plugin__row-shadow {
	background-color: var(--db-plugin-row-shadow);
}

.database-plugin__th-content {
	font-weight: bolder;
}
